@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: white;
}
.section-padding {
	padding: 100px 0;
}

/* Foto Menu Reservas */

.imagen_menureserva{
    height: 70vh;
	min-height: 200px;
    z-index: 2;
}

.texto_menureservas{
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.btn-volverhome{
	border-color:white;
	color: white;
}
.btn-volverhome:hover{
	
	background-color: green;
	color: white;
}



/* Fin Foto Menu Reservas */


/* Inicio Calendario Reservas */

.caja1{
    margin: 20px;
    margin-top: 100px;
}


  .container-calendario {
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: 25rem;
    height: 32rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .month {
    width: 100%;
    height: 6rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
    color: white;
  }
  
  .month h1 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1rem;
  }
  
  .weekdays {
    width: 100%;
    height: 2rem;
    padding: 0 0.1rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(24rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  
  .days div {
    font-size: 12px;
    margin: 0.25rem;
    width: calc(20rem / 7);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    border-radius: 40px;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
   opacity: 0.5;
  }
  
  .today {
    background-color: #167e56;
  }
  


/* Fin Calendario Reservas */

/* Barra Navegacion */



.navbar{
	 border-bottom: 2px solid rgb(206, 206, 206); 	

	
}

.nav-link{
	transition: all 0.1s;
}

.nav-link:hover{
	border-bottom:solid #4BB636;
	color:#4BB636 !important;
	border-radius: 4px;
	
	
}
.nav-link::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
}

.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}


.navbar-light .navbar-brand {
	color: black;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}


.btn-outline-success:hover{
	-webkit-box-shadow: -5px 3px 13px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 3px 13px -8px rgba(0,0,0,0.75);
	box-shadow: -5px 3px 13px -8px rgba(0,0,0,0.75);
}


/* Fin Barra Navegacion */




/*  Inicio Complejo */
.imagenmujer{

	max-height: 300px;
	margin-bottom: 130px;



}
.imagenmujer img{
	height: 70vh;
	min-height: 200px;
}


/* Fin Complejo */




/* Canchas De Reserva */



              

.seccion-titulo{
	font-size: 2rem;
	padding:15px 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

.seccion-descripcion{
	font-size: 1.2rem;
	color: #584e43;	
}
.texto-negro{
	color: black;
}
.texto-blanco{
	color: white;
}
.resesrva-canchas{
	padding: 40px;
}
.seccion-clara{
	color: black;
	background-color: white;
}


.reserva-canchas img{
	height: 100%;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	display: block;
	transition: all 0.2s ease;
}

.contenedor-canchas{
	padding: 60px;
	margin-bottom: 40px;
}


.overlay{
	transition: all 0.2s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.overlay p{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;
	color: white;
}
.reservas{
	position: relative;
}

.reservas:hover img{
	
	filter: blur(2px);
}

.reservas:hover .overlay{
	opacity: 1;
}




/*  Fin Canchas De Reserva */





/* Membresia  */

.membresiaa{

	background-image: url(Recursos/Imagenes/tenis-fondo4.jpg);
	background-size: cover;
	z-index: 2;
	height: 100vh;
	min-height: 200px;

}



.section-header{

	color: white;
	font-size: 24px;

}

.card-body{

	background-color: black ;
	color: white !important;

}
.btn-success1{
	border-color:#4BB636;
	color: #4BB636;
	margin-bottom: 4px;
}

.btn-success1:hover{
	background-color:#2a8b17;
	color: white;
}
.btn-success2{
	border-color:#4BB636;
	color: #4BB636;
	color: #4BB636;
	margin-bottom: 4px;
}

.btn-success2:hover{
	background-color:#2a8b17;
	color: white;
}

.btn-success3{
	border-color:#4BB636;
	color: #4BB636;
	color: #4BB636;
	margin-bottom: 4px;
}

.btn-success3:hover{
	background-color:#2a8b17;
	color: white;
}

/* Fin Membresia */


/* Inicio de Nosotros */

.nosotros-titulo{
	color: black;
}

.parrafo-nosotros{
	color: black;
}





/* Fin de Nosotros */


/* Inicio de Contactanos */

.contacta-titulo{
	color: black;
}

.contacta-parrafo{
	color: black;
}

/* Fin de Contactanos */









@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}
