@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: white;
}
.section-padding {
	padding: 100px 0;
}

/* Foto Menu Reservas */

.imagen_menureserva{
    height: 70vh;
	min-height: 200px;
    z-index: 2;
}

.texto_menureservas{
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.btn-volverhome{
	border-color:white;
	color: white;
}
.btn-volverhome:hover{

	background-color: green;
	color: white;
}



/* Fin Foto Menu Reservas */


/* Calendario Reservas */

/* Inicio Campo de Eleccion de Deportes */





.contenedor-horas{
  margin: 40px;
  
}

.contenedor-horas1{
	margin: 40px;
	width: 300px;
	align-content: unsafe;
	
  }

.horas{
	
	position: relative;
	left: 20px; 
  margin-top: 60px;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  border: solid 1px black;
  height: 283px;

}

.col-horas{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 100px;
}

.div-hora{
	width: 100px;
	border: solid 1px black;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
	
}

.div-hora:hover{
	background-color: green;
    color: white;
    cursor: pointer;
}

/*  boton de Elegir Hora de reserva*/
.select-btn{

  display: contents;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}


.list-items{
  position: relative;	
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  border: solid 1px black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.list-items:hover{
	-webkit-box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
}

.select-btn.open ~ .list-items{
  display: block;
}
.list-items .item{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;

}

.tex-seleccion-deporte{
	font-size: 30px;
}

.list-items .item:hover {
  background-color:#198754;
  color:white;
  
}

.item .item-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.item .item-text:hover{
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.item .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid black;
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
  background-color:black;

}
.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
  transform: scale(1);
}

/* Fin Campo de Eleccion de Deportes */



/* Fin Campo Horas */





/* Fin Calendario Reservas */

/* Barra Navegacion */

.navbar{
	 border-bottom: 2px solid rgb(206, 206, 206);


}

.nav-link{
	transition: all 0.1s;
}

.nav-link:hover{
	border-bottom:solid #4BB636;
	color:#4BB636 !important;
	border-radius: 4px;


}
.nav-link::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
}

.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.reserva{
	width: 320px;
	height: 50px;
	font-size: 25px;
	font-weight: bold;
	margin-left: 40px;
}


.navbar-light .navbar-brand {
	color: black;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}


.btn-outline-success:hover{
	-webkit-box-shadow: -5px 3px 13px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 3px 13px -8px rgba(0,0,0,0.75);
	box-shadow: -5px 3px 13px -8px rgba(0,0,0,0.75);
}


/* Fin Barra Navegacion */




/*  Inicio Complejo */

/* Fin Complejo */




/* Canchas De Reserva */




/*  Fin Canchas De Reserva */





/* Membresia  */

/* Fin Membresia */


/* Inicio de Nosotros */

.nosotros-titulo{
	color: black;
}

.parrafo-nosotros{
	color: black;
}





/* Fin de Nosotros */


/* Inicio de Contactanos */

.contacta-titulo{
	color: black;
}

.contacta-parrafo{
	color: black;
}

/* Fin de Contactanos */









@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}

	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}
